.nav {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.nav a {
  display: block;
  padding: 0.7rem;
  text-decoration: none;
  color: inherit;
}
.nav a.active {
  text-decoration: underline;
}
.nav a:hover {
  background-color: burlywood;
}